/* shared styles */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
}
body{
    font-family: "Azeret Mono", monospace;
}
/* banner style */
#banner{
    max-width: 1915px;
    height: 920px;
    border: 2px solid red;
    background-image:url(../assets/Hero-bg.png)
    

}
#banner .banner-content{
    border: 2px solid tomato;
    height: 824px;
    margin: 36px 293px 62px 293px;
}
#banner .image-div{
    border: 2px solid green;
    margin-bottom: 50px;
    height: 375px;
}
#banner .banner-image{
    margin-left: 510px;
    /* margin-right: 470px; */
}


#banner .banner-text{
    border: 2px solid blue;
    height: 445px;
}
#banner .banner-text h1{
    margin-bottom: 100px;
    text-align: center;
}
#banner .banner-text .banner-para{
    margin-bottom: 32px;
    text-align: center;
    opacity: 0.7;

}
#banner .banner-text .banner-btn{
      text-align: center;
      margin-top: 32px;
}
  /* main sectio style */

/* hero sectio style */
#hero{
    width: 1260px;
    height: 1741px;
    border: 2px solid gold;
    margin: 110px auto;
    padding:80px 97px;
    background: rgba(13, 19, 33, 0.02);

   
}
#hero .hero-heading{
    border: 2px solid gray;
    height:08%;
    text-align:center;
}
#hero .hero-heading-01{
    margin-bottom:32px;

}
#hero p{
    opacity: 0.7;
}

/* hero-content-01 */
.hero-content-01{
    height:20%;
    border: 2px solid green;
    margin-top: 44px;
    text-align: center;
    padding:48px;
    display:flex;
    justify-content: space-between;
}
#hero .hero-content-01-text{
    width:50%;
}
#hero .hero-content-01 h3{
    margin-top:22px;
    margin-bottom: 22px;
}
#hero .hero-content-01 p{
    margin-bottom: 50px;
}
#hero .hero-content-01 .btn{
    box-sizing: border-box;
   border: 1px solid rgb(13, 19, 33);
   opacity: 0.7;
   width: 150px;
   height:48px;
   color: rgb(13, 19, 33);
   text-align: center;
   padding:10px;
}
/* hero content 01 complete */
 
/* hero-content-02 start  */

#hero-content-02{
    height: 20%;
    border: 2px solid blue;
    margin-top:50px;
    padding: 48px;
    display: flex; 
    justify-content: space-between;
}
#hero-content-02-text{
    padding: 40px;
    width:50%
}
#hero-content-02 h3{
    margin-top: 40px;
    text-align: center;
}
#hero-content-02 .para-02{
    margin-top:55px;
    text-align: center;
}
#hero-content-02 .btn{
    margin-top: 55px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height:48px;
    color: rgb(13, 19, 33);
    text-align: center;
    padding:10px;
}
/* hero content 02 style end  */

/* hero content 03 style start */

#hero-content-03{
    height:20%;
    border: 2px solid green;
    margin-top: 70px;
    text-align: center;
    padding:48px;
    display:flex;
    justify-content: space-between
}
#hero-content-03 .hero-content-03-text{
    width:50%;
}
#hero-content-03 h3{
    margin-top:22px;
    margin-bottom: 40px;
}
.hero-content-03-text  p{
    margin-bottom: 50px;
}
#hero-content-03 .btn{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height:48px;
    color: rgb(13, 19, 33);
    text-align: center;
    padding:10px;
}
/* hero contetn 03 end */

/* inspiration style */
#inspiration{
    border:2px solid blue;
    width:1133px;
    height:162px;
    margin: 0 382px 100px 382px;
}
#inspiration h2{
    text-align:center;
    margin-bottom: 34px;
}
#inspiration p{
    text-align: center;
    color: rgb(13, 19, 33);
    opacity: 0.7;

}
/* inspiration section end */

/* video section start */
#video{
    border:2px solid red;
    width:1133px;
    /* height:865px; */
    margin: 0 382px 100px 382px;
    text-align: center;
}
/* video section end */

/* target section start */
#target{
    border:2px solid blue;
    width:1133px;
    height:162px;
    margin: 0 382px 100px 382px;
}
#target h3{
    text-align:center;
    margin-bottom: 34px;
}
#target p{
    text-align: center;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}
/* target end  */
/* target logo start */
#target-logo{
    border:2px solid blue;
    width:1133px;
    height:338px;
    margin: 0 382px 100px 382px;
    display:flex;
}
/* html start */
#target-logo .html{
    border: 2px solid green;
    width:337px;
    height: 250px;
    padding:40px;
    background: rgba(255, 76, 30, 0.05);
}
#target-logo .html h4{
    margin-top:10px;
}
#target-logo .html p{
    margin-top:20px;
}
#target-logo .html .btn{
    margin-top: 20px;
    text-decoration: underline;
}
/* html end */
/* css start */

#target-logo .css{
    border: 2px solid red;
    width:337px;
    height: 250px;
    padding:40px;
    background: rgba(0, 76, 232, 0.05);
}
#target-logo .css h4{
    margin-top:10px;
}
#target-logo .css p{
    margin-top:20px;
}
#target-logo .css .btn{
    margin-top: 20px;
    text-decoration: underline;
}
/* css style end  */
 /* JS Style start  */
 #target-logo .javascript{
    border: 2px solid green;
    width:337px;
    height: 250px;
    padding:40px;
    background: rgba(255, 223, 0, 0.05);
 }
 #target-logo .javascript h4{
    margin-top:10px;
 }
 #target-logo .javascript p{
    margin-top:20px;
 }
#target-logo .javascript .btn{
    margin-top: 20px;
    text-decoration: underline;
}
/* javascript style end  */
/* target logo end  */
/* main section  style end  */

/* footer style start  */
/* support style start */

#support{
    width:1516px;
    height:442px;
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 410px;
    border: 2px solid red;
    margin:80px auto;
    /* padding:50px; */
    
}
#support h2{
    text-align: center;
    justify-content: center;
    margin-top: 75px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-size: 32px;
}
#support p{
    text-align: center;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
}
#support .input{
    margin-left: 250px;
    margin-top: 15px;
}
#support .input input[text]{
    padding:10px;
}

 


